header{
    background-color: #10367F;
    color: #fff; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
}

.span1{
    font-family: Inter;
    font-weight: bold;
    font-size: 22px;
    margin-top: 50px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.container{
    margin-top: 50px;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
}

.title-video{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.precod{
    background-color: #2B2B2B;
    color: #fff;
}

@media screen and (max-width:767px){

    header{
        background-color: #10367F;
        color: #fff; 
        display: flex; 
        justify-content: space-between;
        align-items: center; 
        padding: 10px;
    }
    
    .span1{
        font-family: Inter;
        font-weight: bold;
        font-size: 18px;
        margin-top: 50px;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .container{
        margin-top: 20px;
    }

    .title{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 22px;
    }

    .title-video{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 22px;
        margin-top: 50px;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }
    
    
}